@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');   


body {
  height: 100vh;
  margin: 2rem auto;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-self: center;
  background: #ffff;
  box-shadow: 0px 0px 5px #00000044;
  padding: 1rem;
  width: 100%;
  max-width: 300px;
}


.time, .timer-text,
.resume, .paused, .reset {
  color: #000000;
  font-weight: 300;
}


.time {
  letter-spacing: 6px;
  align-items: center;
}


.days, .hours, .mins, .secs {
  border: 1px solid rgba(79, 79, 79, 0.099);
  border-radius: 10px;
  padding: .09rem .2rem;
}

.timer-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.text {
  font-size: .65rem;
  word-spacing: 15px;
}


.action-btns-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


.resume, .paused, .reset {
  padding: .55rem;
  border: none;
  transition: all 0.4s;
}


.resume, .paused {
  color: rgb(255, 255, 255);
}


.resume {
  background: rgba(59, 170, 25, 0.77);
}


.resume:hover {
  background:rgba(47, 130, 21, 0.77);
}


.paused {
  background: rgb(207, 62, 62);
}


.paused:hover {
  background: rgb(180, 49, 49);
}


.resume:hover, .paused:hover, .reset:hover {
  cursor: pointer;
}


button:disabled {
  opacity: 0.4;
}